<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>arobase</key>
		<string>@3M</string>
		<key>id</key>
		<string>MMM</string>
		<key>name</key>
		<string>3M Company</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@AmericanAir</string>
		<key>id</key>
		<string>AAL</string>
		<key>name</key>
		<string>American Airlines Group</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Boeing</string>
		<key>id</key>
		<string>BA</string>
		<key>name</key>
		<string>Boeing Company</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@CaterpillarInc</string>
		<key>id</key>
		<string>CAT</string>
		<key>name</key>
		<string>Caterpillar Inc.</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Delta</string>
		<key>id</key>
		<string>DAL</string>
		<key>name</key>
		<string>Delta Air Lines Inc.</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@FastenalCompany</string>
		<key>id</key>
		<string>FAST</string>
		<key>name</key>
		<string>Fastenal Co</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@FedEx</string>
		<key>id</key>
		<string>FDX</string>
		<key>name</key>
		<string>FedEx Corporation</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@generaldynamics</string>
		<key>id</key>
		<string>GD</string>
		<key>name</key>
		<string>General Dynamics</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@generalelectric</string>
		<key>id</key>
		<string>GE</string>
		<key>name</key>
		<string>General Electric</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@honeywell</string>
		<key>id</key>
		<string>HON</string>
		<key>name</key>
		<string>Honeywell</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@L3HarrisTech</string>
		<key>id</key>
		<string>LHX</string>
		<key>name</key>
		<string>L3Harris Technologies</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@LockheedMartin</string>
		<key>id</key>
		<string>LMT</string>
		<key>name</key>
		<string>Lockheed Martin Corp.</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@RaytheonTech</string>
		<key>id</key>
		<string>RTX</string>
		<key>name</key>
		<string>Raytheon Technologies</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@SouthwestAir</string>
		<key>id</key>
		<string>LUV</string>
		<key>name</key>
		<string>Southwest Airlines</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@StanleyBlkDeckr</string>
		<key>id</key>
		<string>SWK</string>
		<key>name</key>
		<string>Stanley Black &amp; Decker</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Textron</string>
		<key>id</key>
		<string>TXT</string>
		<key>name</key>
		<string>Textron Inc.</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@united</string>
		<key>id</key>
		<string>UAL</string>
		<key>name</key>
		<string>United Airlines Holdings</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@abbvie</string>
		<key>id</key>
		<string>ABBV</string>
		<key>name</key>
		<string>AbbVie Inc.</string>
		<key>sector</key>
		<string>healthcare</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Agilent</string>
		<key>id</key>
		<string>A</string>
		<key>name</key>
		<string>Agilent Technologies Inc</string>
		<key>sector</key>
		<string>healthcare</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@AlexionPharma</string>
		<key>id</key>
		<string>ALXN</string>
		<key>name</key>
		<string>Alexion Pharmaceuticals</string>
		<key>sector</key>
		<string>healthcare</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@bmsnews</string>
		<key>id</key>
		<string>BMY</string>
		<key>name</key>
		<string>Bristol-Myers Squibb</string>
		<key>sector</key>
		<string>healthcare</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@GileadSciences</string>
		<key>id</key>
		<string>GILD</string>
		<key>name</key>
		<string>Gilead Sciences</string>
		<key>sector</key>
		<string>healthcare</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Medtronic</string>
		<key>id</key>
		<string>MDT</string>
		<key>name</key>
		<string>Medtronic plc</string>
		<key>sector</key>
		<string>healthcare</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Merck</string>
		<key>id</key>
		<string>MRK</string>
		<key>name</key>
		<string>Merck &amp; Co.</string>
		<key>sector</key>
		<string>healthcare</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@pfizer</string>
		<key>id</key>
		<string>PFE</string>
		<key>name</key>
		<string>Pfizer Inc.</string>
		<key>sector</key>
		<string>healthcare</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Accenture</string>
		<key>id</key>
		<string>ACN</string>
		<key>name</key>
		<string>Accenture</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Adobe</string>
		<key>id</key>
		<string>ADBE</string>
		<key>name</key>
		<string>Adobe Inc.</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@AMD</string>
		<key>id</key>
		<string>AMD</string>
		<key>name</key>
		<string>Advanced Micro Devices</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Akamai</string>
		<key>id</key>
		<string>AKAM</string>
		<key>name</key>
		<string>Akamai Technologies Inc</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Google</string>
		<key>id</key>
		<string>GOOG</string>
		<key>name</key>
		<string>Alphabet</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@ANSYS</string>
		<key>id</key>
		<string>ANSS</string>
		<key>name</key>
		<string>ANSYS</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Apple</string>
		<key>id</key>
		<string>AAPL</string>
		<key>name</key>
		<string>Apple Inc.</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Autodesk</string>
		<key>id</key>
		<string>ADSK</string>
		<key>name</key>
		<string>Autodesk Inc.</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Cisco</string>
		<key>id</key>
		<string>CSCO</string>
		<key>name</key>
		<string>Cisco Systems</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@citrix</string>
		<key>id</key>
		<string>CTXS</string>
		<key>name</key>
		<string>Citrix Systems</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Gartner_Inc</string>
		<key>id</key>
		<string>IT</string>
		<key>name</key>
		<string>Gartner Inc</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@HP</string>
		<key>id</key>
		<string>HPE</string>
		<key>name</key>
		<string>Hewlett Packard</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@intel</string>
		<key>id</key>
		<string>INTC</string>
		<key>name</key>
		<string>Intel Corp.</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@IBM</string>
		<key>id</key>
		<string>IBM</string>
		<key>name</key>
		<string>International Business Machines</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@JuniperNetworks</string>
		<key>id</key>
		<string>JNPR</string>
		<key>name</key>
		<string>Juniper Networks</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Mastercard</string>
		<key>id</key>
		<string>MA</string>
		<key>name</key>
		<string>Mastercard Inc.</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Microsoft</string>
		<key>id</key>
		<string>MSFT</string>
		<key>name</key>
		<string>Microsoft Corp.</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Moto</string>
		<key>id</key>
		<string>MSI</string>
		<key>name</key>
		<string>Motorola Solutions Inc.</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@nvidia</string>
		<key>id</key>
		<string>NVDA</string>
		<key>name</key>
		<string>Nvidia Corporation</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Oracle</string>
		<key>id</key>
		<string>ORCL</string>
		<key>name</key>
		<string>Oracle Corp.</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@PayPal</string>
		<key>id</key>
		<string>PYPL</string>
		<key>name</key>
		<string>PayPal</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Qualcomm</string>
		<key>id</key>
		<string>QCOM</string>
		<key>name</key>
		<string>QUALCOMM Inc.</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@salesforce</string>
		<key>id</key>
		<string>CRM</string>
		<key>name</key>
		<string>Salesforce</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Seagate</string>
		<key>id</key>
		<string>STX</string>
		<key>name</key>
		<string>Seagate Technology</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@TXInstruments</string>
		<key>id</key>
		<string>TXN</string>
		<key>name</key>
		<string>Texas Instruments</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Visa</string>
		<key>id</key>
		<string>V</string>
		<key>name</key>
		<string>Visa Inc.</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@westerndigital</string>
		<key>id</key>
		<string>WDC</string>
		<key>name</key>
		<string>Western Digital</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@WesternUnion</string>
		<key>id</key>
		<string>WU</string>
		<key>name</key>
		<string>Western Union Co</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Xerox</string>
		<key>id</key>
		<string>XRX</string>
		<key>name</key>
		<string>Xerox</string>
		<key>sector</key>
		<string>technology</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@ATVI_AB</string>
		<key>id</key>
		<string>ATVI</string>
		<key>name</key>
		<string>Activision Blizzard</string>
		<key>sector</key>
		<string>telecom-media</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@ATT</string>
		<key>id</key>
		<string>T</string>
		<key>name</key>
		<string>AT&amp;T Inc.</string>
		<key>sector</key>
		<string>telecom-media</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@comcast</string>
		<key>id</key>
		<string>CMCSA</string>
		<key>name</key>
		<string>Comcast Corp.</string>
		<key>sector</key>
		<string>telecom-media</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Discovery</string>
		<key>id</key>
		<string>DISCA</string>
		<key>name</key>
		<string>Discovery Inc.</string>
		<key>sector</key>
		<string>telecom-media</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@EA</string>
		<key>id</key>
		<string>EA</string>
		<key>name</key>
		<string>Electronic Arts</string>
		<key>sector</key>
		<string>telecom-media</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Facebook</string>
		<key>id</key>
		<string>FB</string>
		<key>name</key>
		<string>Facebook Inc.</string>
		<key>sector</key>
		<string>telecom-media</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@FoxNews</string>
		<key>id</key>
		<string>FOXA</string>
		<key>name</key>
		<string>Fox Corporation</string>
		<key>sector</key>
		<string>telecom-media</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@netflix</string>
		<key>id</key>
		<string>NFLX</string>
		<key>name</key>
		<string>Netflix Inc.</string>
		<key>sector</key>
		<string>telecom-media</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Tmobile</string>
		<key>id</key>
		<string>TMUS</string>
		<key>name</key>
		<string>T-Mobile US</string>
		<key>sector</key>
		<string>telecom-media</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@WaltDisneyCo</string>
		<key>id</key>
		<string>DIS</string>
		<key>name</key>
		<string>The Walt Disney Company</string>
		<key>sector</key>
		<string>telecom-media</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Twitter</string>
		<key>id</key>
		<string>TWTR</string>
		<key>name</key>
		<string>Twitter Inc.</string>
		<key>sector</key>
		<string>telecom-media</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Verizon</string>
		<key>id</key>
		<string>VZ</string>
		<key>name</key>
		<string>Verizon Communications</string>
		<key>sector</key>
		<string>telecom-media</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@ViacomCBS</string>
		<key>id</key>
		<string>VIAC</string>
		<key>name</key>
		<string>ViacomCBS</string>
		<key>sector</key>
		<string>telecom-media</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@amazon</string>
		<key>id</key>
		<string>AMZN</string>
		<key>name</key>
		<string>Amazon</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@BestBuy</string>
		<key>id</key>
		<string>BBY</string>
		<key>name</key>
		<string>Best Buy Co. Inc.</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@CocaCola</string>
		<key>id</key>
		<string>KO</string>
		<key>name</key>
		<string>Coca-Cola Company</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@CP_News</string>
		<key>id</key>
		<string>CL</string>
		<key>name</key>
		<string>Colgate-Palmolive</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Dominos</string>
		<key>id</key>
		<string>DPZ</string>
		<key>name</key>
		<string>Domino&apos;s Pizza</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@eBay</string>
		<key>id</key>
		<string>EBAY</string>
		<key>name</key>
		<string>eBay Inc.</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Expedia</string>
		<key>id</key>
		<string>EXPE</string>
		<key>name</key>
		<string>Expedia Group</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Ford</string>
		<key>id</key>
		<string>F</string>
		<key>name</key>
		<string>Ford Motor Company</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Gap</string>
		<key>id</key>
		<string>GPS</string>
		<key>name</key>
		<string>Gap Inc.</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Garmin</string>
		<key>id</key>
		<string>GRMN</string>
		<key>name</key>
		<string>Garmin Ltd.</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@GeneralMills</string>
		<key>id</key>
		<string>GIS</string>
		<key>name</key>
		<string>General Mills</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@GM</string>
		<key>id</key>
		<string>GM</string>
		<key>name</key>
		<string>General Motors</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@harleydavidson</string>
		<key>id</key>
		<string>HOG</string>
		<key>name</key>
		<string>Harley-Davidson</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Hasbro</string>
		<key>id</key>
		<string>HAS</string>
		<key>name</key>
		<string>Hasbro Inc.</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@HiltonHotels</string>
		<key>id</key>
		<string>HLT</string>
		<key>name</key>
		<string>Hilton Worldwide Holdings</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@HomeDepot</string>
		<key>id</key>
		<string>HD</string>
		<key>name</key>
		<string>Home Depot</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@KelloggsUS</string>
		<key>id</key>
		<string>K</string>
		<key>name</key>
		<string>Kellogg Co.</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@KraftHeinzCo</string>
		<key>id</key>
		<string>KHC</string>
		<key>name</key>
		<string>Kraft Heinz Co</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@McDonalds</string>
		<key>id</key>
		<string>MCD</string>
		<key>name</key>
		<string>McDonald&apos;s Corp.</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Nike</string>
		<key>id</key>
		<string>NKE</string>
		<key>name</key>
		<string>Nike</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@pepsi</string>
		<key>id</key>
		<string>PEP</string>
		<key>name</key>
		<string>PepsiCo Inc.</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@ProcterGamble</string>
		<key>id</key>
		<string>PG</string>
		<key>name</key>
		<string>Procter &amp; Gamble</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@RalphLauren</string>
		<key>id</key>
		<string>RL</string>
		<key>name</key>
		<string>Ralph Lauren Corporation</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Starbucks</string>
		<key>id</key>
		<string>SBUX</string>
		<key>name</key>
		<string>Starbucks Corp.</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@UnderArmour</string>
		<key>id</key>
		<string>UAA</string>
		<key>name</key>
		<string>Under Armour</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Walgreens</string>
		<key>id</key>
		<string>WBA</string>
		<key>name</key>
		<string>Walgreens Boots Alliance</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Walmart</string>
		<key>id</key>
		<string>WMT</string>
		<key>name</key>
		<string>Walmart</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@WhirlpoolCorp</string>
		<key>id</key>
		<string>WHR</string>
		<key>name</key>
		<string>Whirlpool Corp.</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@AmerenCorp</string>
		<key>id</key>
		<string>AEE</string>
		<key>name</key>
		<string>Ameren Corp</string>
		<key>sector</key>
		<string>energy</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Chevron</string>
		<key>id</key>
		<string>CVX</string>
		<key>name</key>
		<string>Chevron</string>
		<key>sector</key>
		<string>energy</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@exxonmobil</string>
		<key>id</key>
		<string>XOM</string>
		<key>name</key>
		<string>Exxon Mobil Corp.</string>
		<key>sector</key>
		<string>energy</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@SouthernCompany</string>
		<key>id</key>
		<string>SO</string>
		<key>name</key>
		<string>Southern Company</string>
		<key>sector</key>
		<string>energy</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@AmericanExpress</string>
		<key>id</key>
		<string>AXP</string>
		<key>name</key>
		<string>American Express Co</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@BankofAmerica</string>
		<key>id</key>
		<string>BAC</string>
		<key>name</key>
		<string>Bank of America Corp</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Blackrock</string>
		<key>id</key>
		<string>BLK</string>
		<key>name</key>
		<string>BlackRock</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@CapitalOne</string>
		<key>id</key>
		<string>COF</string>
		<key>name</key>
		<string>Capital One Financial</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Citi</string>
		<key>id</key>
		<string>C</string>
		<key>name</key>
		<string>Citigroup Inc.</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@GoldmanSachs</string>
		<key>id</key>
		<string>GS</string>
		<key>name</key>
		<string>Goldman Sachs Group</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@jpmorgan</string>
		<key>id</key>
		<string>JPM</string>
		<key>name</key>
		<string>JPMorgan Chase &amp; Co.</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@MorganStanley</string>
		<key>id</key>
		<string>MS</string>
		<key>name</key>
		<string>Morgan Stanley</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@WellsFargo</string>
		<key>id</key>
		<string>WFC</string>
		<key>name</key>
		<string>Wells Fargo</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Tesla</string>
		<key>id</key>
		<string>TSLA</string>
		<key>name</key>
		<string>Tesla Inc.</string>
		<key>sector</key>
		<string>industrials</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@CVSHealth</string>
		<key>id</key>
		<string>CVS</string>
		<key>name</key>
		<string>CVS Health Corporation</string>
		<key>sector</key>
		<string>healthcare</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@UnitedHealthGrp</string>
		<key>id</key>
		<string>UNH</string>
		<key>name</key>
		<string>UnitedHealth Group</string>
		<key>sector</key>
		<string>healthcare</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@McKesson</string>
		<key>id</key>
		<string>MCK</string>
		<key>name</key>
		<string>McKesson Corporation</string>
		<key>sector</key>
		<string>healthcare</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Healthcare_ABC</string>
		<key>id</key>
		<string>ABC</string>
		<key>name</key>
		<string>AmerisourceBergen</string>
		<key>sector</key>
		<string>healthcare</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Cigna</string>
		<key>id</key>
		<string>CI</string>
		<key>name</key>
		<string>Cigna Corporation</string>
		<key>sector</key>
		<string>healthcare</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@Costco</string>
		<key>id</key>
		<string>COST</string>
		<key>name</key>
		<string>Costco Wholesale Corp</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@cardinalhealth</string>
		<key>id</key>
		<string>CAH</string>
		<key>name</key>
		<string>Cardinal Health, Inc</string>
		<key>sector</key>
		<string>healthcare</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@MarathonPetroCo</string>
		<key>id</key>
		<string>MPC</string>
		<key>name</key>
		<string>Marathon Petroleum Corp</string>
		<key>sector</key>
		<string>energy</string>
	</dict>
	<dict>
		<key>arobase</key>
		<string>@LeviStraussCo</string>
		<key>id</key>
		<string>LEVI</string>
		<key>name</key>
		<string>Levi Strauss &amp; Co.</string>
		<key>sector</key>
		<string>goods</string>
	</dict>
	<dict>
		<key>id</key>
		<string>BTC</string>
		<key>name</key>
		<string>Bitcoin</string>
		<key>arobase</key>
		<string>@Bitcoin</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ETH</string>
		<key>name</key>
		<string>Ethereum</string>
		<key>arobase</key>
		<string>@eth_classic</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>id</key>
		<string>BNB</string>
		<key>name</key>
		<string>Binance Coin</string>
		<key>arobase</key>
		<string>@binance</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>id</key>
		<string>USDT</string>
		<key>name</key>
		<string>Tether </string>
		<key>arobase</key>
		<string>@Tether_to</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>id</key>
		<string>SOL</string>
		<key>name</key>
		<string>Solana</string>
		<key>arobase</key>
		<string>@solana</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ADA</string>
		<key>name</key>
		<string>Cardano</string>
		<key>arobase</key>
		<string>@CardanoStiftung</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>id</key>
		<string>XRP</string>
		<key>name</key>
		<string>XRP</string>
		<key>arobase</key>
		<string>@Ripple_XRP1</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>id</key>
		<string>DOT</string>
		<key>name</key>
		<string>Polkadot</string>
		<key>arobase</key>
		<string>@Polkadot</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>id</key>
		<string>DOGE</string>
		<key>name</key>
		<string>Dogecoin</string>
		<key>arobase</key>
		<string>@dogecoin</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
	<dict>
		<key>id</key>
		<string>AVAX</string>
		<key>name</key>
		<string>Avalanche</string>
		<key>arobase</key>
		<string>@avalancheavax</string>
		<key>sector</key>
		<string>financials</string>
	</dict>
    <dict>
        <key>id</key>
        <string>LTC</string>
        <key>name</key>
        <string>Litecoin</string>
        <key>arobase</key>
        <string>@litecoin</string>
        <key>sector</key>
        <string>financials</string>
    </dict>
</array>
</plist>
